---
import Copy from "../components/Copy.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="romilk-senpai">
	<main>
		<img src="https://github.com/romilk-senpai.png" />
		<h1>romilk-senpai</h1>
		<ul role="list" class="link-list">
			<Link
				href="https://www.linkedin.com/in/roman-pakhomov-409a96229/"
				iconName="linkedin"
			/>
			<Link href="https://t.me/romilksenpai" iconName="telegram" />
			<Copy id="discord" iconName="discord" />
			<Link
				href="https://github.com/romilk-senpai"
				iconName="github-white"
			/>
			<Link href="mailto:rpakhomov1702@gmail.com" iconName="email" />
		</ul>
		<script>
			document
				.querySelector("#discord")
				?.addEventListener("click", () => {
					navigator.clipboard.writeText("@shadowdemon9");
					alert("Discord tag copied to clipboard!");
				});
		</script>
	</main>

	<style>
		main {
			margin: 144px auto;
			width: fit-content;
			height: fit-content;
			color: white;
			font-size: 20px;
		}
		main img {
			display: block;
			margin: auto;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			box-shadow: 0 0 0 2px rgb(82, 82, 82);
			-webkit-animation: spin 60s linear infinite;
			-moz-animation: spin 60s linear infinite;
			animation: spin 60s linear infinite;
		}
		@-moz-keyframes spin {
			100% {
				-moz-transform: rotate(360deg);
			}
		}
		@-webkit-keyframes spin {
			100% {
				-webkit-transform: rotate(360deg);
			}
		}
		@keyframes spin {
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
		main h1 {
			text-align: center;
		}
		main p {
			display: block;
			margin: auto;
			width: fit-content;
		}
		.link-list {
			margin: auto;
			margin-top: 14px;
			padding: 0;
			width: fit-content;
			height: 36px;
		}
	</style>
</Layout>
